@charset "UTF-8";

body {
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}

@media screen and (max-width: 1024px) {
    .header a img {
        max-width:180px;
    }
}

.homepage .splash {
    min-height: 555px;
    padding: 5% 42% 5% 0;
    background-image: url(../imgs/steve-splash.jpg);
    background-position: 100% 0%;
    background-repeat:no-repeat;
    background-size: 485px auto;
}

.youtube {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
}
.youtube a,
.youtube iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
.youtube iframe {
    display: none;
}
.youtube a {
    display: block;
}
.youtube a:after {
    content:"";
    background: url(../imgs/play-circle.png) 50% 50% no-repeat;
    background-size: contain;
    display:block;
    width:80px;
    height:80px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -40px;
    margin-top: -40px;
}
.youtube a img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.youtube iframe[src=""] {
    display:none;
}

@media screen and (max-width: 1024px) {
    .homepage .splash {
        background-size: 380px auto;
        background-position: 100% 100%;
        min-height:auto;
    }
}

@media screen and (max-width: 768px) {
    .homepage .splash {
        padding: 5% 0 60% 0;
        background-size: 50%;
        background-position: 40% 110%;
        text-align:center;
    }
}
